<div class="row">
  <div class="small-12 columns">
    <div class="page-title">
      <div class="page-title-text <%= @presented_page.service_colour %>">
        <h1><%= @presented_page.title %></h1>
      </div>

      <%= image_tag 'layout/pages/page-title-background.jpg', alt: '', class: 'page-title-background' %>
    </div>
  </div>
</div>

<div class="page-content">
  <div class="row">
    <% if @side_menus.present? %>
      <div class="medium-3 columns sidebar-navigation  <%= @presented_page.service_colour %>">
        <%= link_to '#', class: 'toggle-class text-center show-for-small', data: { container: '.sidebar-navigation-links', class: 'hide-for-small' } do %>
          Show Navigation
        <% end %>

        <ul class="sidebar-navigation-links hide-for-small">
          <%= nested_menu_items(menu_items: @side_menus.last.child_menu_items(@page)) if @side_menus.last.has_children?(@page)  %>
          <%= nested_menu_items(menu_items: @side_menus.last.sibling_menu_items(@page)) unless @side_menus.last.has_children?(@page) %>
        </ul>

        <div class="sidebar-client-story <%= @presented_page.service_colour %>">
          <div class="top"></div>
          <div class="middle">
            <%= @presented_client_story.summary %>
          </div>
          <div class="bottom"></div>
        </div>
      </div>
    <% end %>

    <div class="<%= grid_classes(@side_menus, @presented_contact_detail, @presented_service) %> <%= @presented_page.service_colour %>">
      <%= @presented_page.content %>
    </div>

    <% if @presented_contact_detail.present? || (@presented_service.present? && @presented_service.facebook.present?) %>
      <div class="medium-3 columns">
        <%= render partial: 'contact_details/contact_detail', locals: { contact_detail_presenter: @presented_contact_detail, service_colour: @presented_page.service_colour } if @presented_contact_detail.present? %>

        <%= sidebar_facebook_helper(@presented_service.facebook) if @presented_service.facebook.present? %>
      </div>
    <% end %>
  </div>
</div>
